@import './tachyons.css';
@import '../node_modules/tachyons-like-spacing-in-pixels/css/spacing-in-pixels.css';
@import '../node_modules/tachyons-like-type-scale-in-percents/css/type-scale-in-percents.css';

body {
    font-size: 13px;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

main p {
    margin-top: 1em;
    margin-bottom: 1em;
}

nav ul { padding-left: 0; }

.tahoma { font-family: Tahoma, sans-serif; }

.lh-normal { line-height: normal; }

.w-55 { width: 55% }
.w-0700 { width: 700px; }
.w-0090 { width: 90px; }

.flex-grow { flex-grow: 1; }
