@import './node_modules/tachyons/css/tachyons.css';
@import './node_modules/tachyons-like-spacing-in-pixels/css/spacing-in-pixels.css';

body {
    font-size: 13px;
}

 .-order-1 {
     order: -1;
 }

main p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tahoma {
    font-family: Tahoma, sans-serif;
}

.lh-normal {
    line-height: normal;
}

.w-0700 {
    width: 700px;
}